{% extends 'baseTemplate.html' %}
{% block content %}
  
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-2">
    <p class="h3 mb-0 fw-bolder">Update the Item</p>
    <div class="d-flex justify-content-end">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Alert</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure, you want to delete this item ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
              <a href="{% url 'inventory:del-product' product.id %}" type="button" class="btn btn-danger">Yes, Delete</a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <p class="text-dark fw-normal my-auto me-2">Status: </p>
        <p class="border border-1 rounded text-dark fw-bold my-auto text-capitalize p-1" style="color: #6a6a6a!important;">{{ user.profile.status }}</p>
      </div>
    </div>
  </div>

  <form enctype="multipart/form-data" action="" method="POST" class="row g-3 needs-validation" novalidate>
    {% csrf_token %}
    <div class="row px-0 pt-4">
      <div class="col-md-3 mb-3 mb-md-0">
        <img 
            src="{{ product.pic.url }}" 
            class="mx-auto d-block" 
            alt="{{ product.name }}" 
            style="max-height:150px;max-width:100%;"
            {% comment %} width="220px" {% endcomment %}
          />
      </div>
      <div class="col-md-9 px-md-0">
        <div class="row mb-3">
          <label for="name-in" class="form-label col-sm-2 pe-0 my-auto">Name*</label>
          <div class=" col-sm-4 ps-0">
            <input type="text" class="form-control" id="name-in" name="name" value="{{ product.name }}" required>
          </div>
          <label for="hsn-in" class="form-label col-sm-3 px-0 my-auto">HSN Code*</label>
          <div class=" col-sm-3 ps-0">
            <input type="number" class="form-control" id="hsn-in" name="hsn" value="{{ product.hsn_code }}" required>
          </div>
        </div>
        <div class="row mb-3">
          <label for="mu-1-in" class="form-label col-md-4 pe-0 my-auto">Measuring Unit-1*</label>
          <div class=" col-md-2 ps-0">
            <input type="text" class="form-control" id="mu-1-in" name="mu_1" value="{{ product.measuring_unit_1 }}" required>
          </div>
          <label for="mu-2-in" class="form-label col-md-4 px-0 my-auto">Measuring Unit-2</label>
          <div class="col-md-2 ps-0">
            <input type="text" class="form-control" id="mu-2-in" value="{% if product.measuring_unit_2 != none %}{{ product.measuring_unit_2 }}{% endif   %}" name="mu_2">
          </div>
        </div>
        <div class="row mb-3">
          <label for="gst-in" class="form-label col-md-2 pe-0 my-auto">GST*</label>
          <div class="col-md-2 ps-0">
            <input type="number" class="form-control" id="gst-in" name="gst" value="{{ product.gst }}" required>
          </div>
          <div class="col-md-8">
            <div id="measuring_relation" class="d-flex justify-content-end {% if product.measuring_unit_2 == none %} invisible{% endif %}">
              <label for="mr-in" class="form-label my-auto me-2">Measuring Relation</label>
              <div class="d-flex">
                <span class="form-label my-auto mx-1">1</span>
                <span id="mu-2-put" class="form-label my-auto">{{ product.measuring_unit_2 }} </span>
                <span class="form-label my-auto mx-1"> = </span>
                <input type="number" class="form-control" style="max-width:100px;" value="{{ product.measuring_unit_relation }}" name="mr" id="mr-in">
                <span id="mu-1-put" class="form-label my-auto ms-1">{{ product.measuring_unit_1 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="actual-qty-in" class="form-label">Total Quantity in Stock*</label>
      <div class="input-group">
        <input disabled type="number" class="form-control" id="actual-qty-in" name="actual_qty" value="{{ product.qty_actual }}" required>
        <span class="input-group-text" id="actual-qty-unit">{{ product.measuring_unit_1 }}</span>
      </div>
    </div>
    <div class="col-md-6">
      <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Notifies you when stock goes below this value !!">
        <label for="min-stock-alarm-in" class="form-label">Minimum Stock Alarm*</label>
      </span>
      <div class="input-group">
        <input type="number" class="form-control" id="min-stock-alarm-in" name="min_stock_alarm" value="{{ product.min_stock_alarm }}" required>
        <span class="input-group-text" id="min-stock-unit">{{ product.measuring_unit_1 }}</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="img-in" class="form-label">Product Image*</label>
      <input type="file" class="form-control" id="img-in" name="img">
    </div>
    <div class="col-md-6">
      <label for="price-in" class="form-label">Price*</label>
      <div class="input-group">
        <span class="input-group-text">₹</span>
        <input type="number" class="form-control" id="price-in" name="price" value="{{ product.price }}" required>
      </div>
    </div>
    <div class="btn-group">
      <button type="submit" class="rounded mx-md-4 col-md-9 btn btn-success">Save Changes</button>
      <a href={% url 'inventory:inventory' %} class="rounded mx-md-4 col-md-3 btn btn-danger">Discard</a>
    </div>
  </form>
{% endblock %}