/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.zoom-hover:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.navbar {
    padding: 18px 5px;
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #262626;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar div svg {
    display: none;
}

#sidebar div img{
    margin-left: 0.5rem;
}

#sidebar .sidebar-header {
    height: 76px;
    padding: 14px 3px;
    background: #3c3c3c;
}

#sidebar .sidebar-header span {
    font-size: xx-large;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    color: #ffffff;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #54545469;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #747474;
}

/* #sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
} */

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

label.search-icon {
    position: relative;
}

label.search-icon::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='grey'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

/* ---------------------------------------------------
    CSS for inventory.html
----------------------------------------------------- */

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

/* Make the image to responsive */
.image {
    width: 100%;
    height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #38383866;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
    opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* When you move the mouse over the icon, change color */
.bi-pencil-square:hover {
    color: #eee;
}

.icon:hover {
    color: #fff;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1024px) {
    #sidebar {
        margin-left: 0px;
        width: 80px;
    }
    #sidebar ul li a {
        text-align: center;
    }
    #sidebar ul li a svg {
        height: 32px;
        width: 32px;
    }
    #sidebar div img{
        margin-left: 1rem;
    }
    #sidebar ul li a span, #sidebar div span {
        display: none;
    }
    #sidebar div svg {
        display: revert;
    }
    #sidebar.active {
        margin-left: -80px;
    }
    #content {
        width: calc(100% - 80px);
    }
    #content.active {
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -80px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 80px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

@page {
    margin: 0; 
    padding: 0;  
}
@media print {
    
    /* html, body {
        width: 210mm;
        height: 297mm;
        visibility: hidden;
    }

    div .row, div table tr td {
        break-inside: avoid;
    }
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    
    .page {
        page-break-inside: auto;
        visibility: visible;
        margin: 0mm;
        position: absolute;
        left: 0;
        top: 0;
    } */
    
    /* .page {
        margin: 0mm;
    } */
    
    #sale-table tfoot { 
        display:table-footer-group;
    }
    #sale-table thead { 
        margin-top:20px;
        display:table-header-group;
    }
    div .row, #sale-table.table tr {
        page-break-inside: avoid;
    }
}

#sale-table.table thead {
    border-top: 1px solid #c7c8c9;
    border-bottom: 1px solid #c7c8c9;
}

#sale-table.table tbody tr:last-child {
    border-bottom: 1px solid #c7c8c9;
}

/* table.table tbody tr {
    max-height: ;
} */

#sale-table.table tbody tr td,
#sale-table.table thead tr th,
#sale-table.table thead {
    border-left: 1px solid #c7c8c9;
    border-right: 1px solid #c7c8c9;
}
