{% extends 'baseTemplate.html' %}
{% block content %}
  {% load static %}
  {% load index %}
  {% load dueornot %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 fw-bolder">Sale</h1>
    <div class="d-flex">
      <p class="text-dark fw-normal my-auto me-2">Status: </p>
      <p class="border border-1 rounded text-dark fw-bold my-auto text-capitalize p-1" style="color: #6a6a6a!important;">{{ user.profile.status }}</p>
    </div>
  </div>

  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <form style="min-width:30%;" action="{% url 'sale:sale' %}">
      <div class="justify-content-start input-group mb-sm-auto mb-3" style="max-width:100%;">
        <input type="text" class="form-control" placeholder="Search customer or product" aria-label="Search customer or product" name="search_sale">
        <button class="btn btn-outline-primary" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
    <div class="d-sm-flex" id="changeDisp">
      <a href="{% url 'customer:customer' %}" class="btn btn-success me-3">View Customers</a>
      <a href="{% url 'sale:create-sale' %}" class="btn btn-success">Create Sale</a>
    </div>
  </div>

  <!-- Display:Tile/Card -->
  <div class="row">
    {% for order in page_obj.object_list %}
    <div class="col-xl-3 col-lg-4 col-md-6 mb-3" style="max-width:75%">
      <a href="{% url 'sale:view-sale' order.id %}">
        <div class="zoom-hover card text-black">
          <div class="card-body pt-2">
            <div class="text-center mt-1">
              <h4 class="card-title text-capitalize">
                {% if order.reg_bill_to == None %}
                {{ order.unreg_bill_to_name }}
                {% else %}
                {{ order.reg_bill_to.name }}
                {% endif %}
                <br>
                <span class="fs-6 m-0 p-0 fw-normal">{{ order.created_on|date:'j F Y'}}</span>
              </h4>
            </div>
            <div class="px-3 py-1" 
              style="
                {% if order.created_on|dueornot or order.pay_status != '1' %}
                  background-image:url(
                    {% if order.pay_status == '3' %}
                      {% static 'img/partial.png' %}
                    {% elif order.pay_status == '4' %}
                      {% static 'img/paid.png' %}
                    {% elif order.created_on|dueornot %}
                      {% static 'img/due.png' %}
                    {% endif %});
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position:center;
                {% endif %}
                background-color: #eff1f2;
                height: 25vh;
                overflow-y: auto;">
              {% for product in order.sale_product.all %}
                <div class="d-flex justify-content-between my-2">
                  <div class="">
                    {{ product.item.name }}
                  </div>
                  <div class="">
                    {{ product.qty }}
                    {{ product.item.measuring_unit_1 }}
                  </div>
                </div>
              {% endfor %}
            </div>
            <hr class="mb-1 mt-2">
            <p class="text-dark fw-medium mx-2 mb-1">
              <span class="text-start">Total</span>
              <span style="float:right;">₹ {{order_total_price|index:forloop.counter0}}</span>
            </p>
          </div>
        </div>
      </a>
    </div> 
    {% endfor %}
  </div>

  {% if page_obj %}
  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg justify-content-center">
      {%if page_obj.has_previous %}
      <li class="page-item ">
        <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link active" href="#">{{page_obj.number}}</a></li>
      {%if page_obj.has_next %}
      <li class="page-item ">
        <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  
  
{% endblock %}