{% extends 'baseTemplate.html' %}
{% block content %}
  {% load static %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-2">
    <p class="h3 mb-0 fw-bolder">Create Purchase</p>
    <div class="d-flex">
      <p class="text-dark fw-normal my-auto me-2">Status: </p>
      <p class="border border-1 rounded text-dark fw-bold my-auto text-capitalize p-1" style="color: #6a6a6a!important;">{{ user.profile.status }}</p>
    </div>
  </div>

  <form id="purchase-order-form" enctype="multipart/form-data" action="" method="POST" class="row mt-4 g-3 needs-validation" novalidate>
    {% csrf_token %}
  
    <div class="row">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 my-auto">
            <img 
                id="seller-pic" 
                style="max-height:180px;" 
                src="{% static 'img/noImg.png' %}" 
                class="py-2 rounded mx-auto d-block img-fluid" 
                alt="No Image !"
            >
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2 pt-2">
                  Seller:
                </div>
                <div class="col-sm-4 align-items-center pt-1">
                  <select id="select-seller" name="select_seller" style="width:100%;" required>
                    <option value="" selected>Choose</option>
                    {% for s in seller %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-2 pt-2">
                  GSTIN
                </div>
                <div id="seller-gstin" class="col-sm-4 pt-2">
                  - - -
                </div>
              </div>
              <div class="row mt-sm-3">
                <div class="col-sm-3 pt-2">
                  Mob No.
                </div>
                <div id="seller-mob_no" class="col-sm-3 pt-2">
                  - - -
                </div>
                <div class="col-sm-2 pt-2">
                  Email
                </div>
                <div id="seller-email" class="col-sm-4 pt-2">
                  - - -
                </div>
              </div>
              <div class="row mt-sm-3">
                <div class="col-sm-3 pt-2">
                  Address
                </div>
                <div id="seller-address" class="col-sm-9 pt-2">
                  - - -
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" id="add-product-btn" class="btn btn-success">
        Add Product
      </button>
    </div>
    <!-- Display:Table/List -->
    <table class="table" id="create-purchase-table">
      <thead class="sticky-top">
        <tr>
          <th scope="col">Img</th>
          <th scope="col">Name/HSN Code</th>
          <th scope="col">GST</th>
          <th scope="col">Quantity</th>
          <th scope="col">Rate</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="product-pic" scope="row"><img src="{% static 'img/noImg.png' %}" style="max-width:90px;max-height:90px" alt="No Image !"/></th>
          <td>
            <select name="select_products_0" aria-label="select product" required>
              <option value="">Choose</option>
              {% for p in product %}
                <option value="{{ p.id }}">{{ p.name }}</option>
              {% endfor %}
            </select>
            <p style="color:black;" class="mt-2 fs-6 mb-0 ps-2">HSN Code: </p>
            <p id="product-hsn_code" class="ps-2 fw-normal" style="color:black;">
            - - -
            </p>
          </td>
          <td id="product-gst">- -</td>
          <td id="mu">
            <div id="qty" class="input-group input-group-sm mb-3" style="max-width:150px;">
              <input value="1" min="1" name="qty_0" type="number" class="form-control" aria-describedby="qty-rel" aria-label="enter the quantity" required>
              <span class="input-group-text" id="qty-rel"></span>
            </div>
          </td>
          <td id="mu">
            <div id="cost-price" class="input-group input-group-sm mb-3" style="max-width:150px;">
              <input step="0.01" min="0" name="cost_price_0" placeholder="₹" type="number" class="form-control" aria-describedby="cost-price-rel" aria-label="enter cost price" required>
              <span class="input-group-text" id="cost-price-rel"></span>
            </div>
          </td>
          <td>
            <button disabled type="button" id="create-purchase-del-product" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-group">
      <button type="submit" class="rounded mx-md-4 col-md-9 btn btn-success">Submit</button>
      <a href={% url 'purchase:purchase' %} class="rounded mx-md-4 col-md-3 btn btn-danger">Discard</a>
    </div>
  </form>
  <script>
    $(document).ready(function () {
      $('select').select2();
      
      $("#add-product-btn").click(function(){
        var tb_length = $('table tr').length;
        var row = '<tr>' +
                    '<th id="product-pic" scope="row"><img src="{% static "img/noImg.png" %}" style="max-width:90px;max-height:90px" alt="No Image !"/></th>' +
                    '<td>'+
                      '<select name="Products_' + tb_length + '" aria-label="select product" required>'+
                        '<option value="">Choose</option>'+
                        '{% for p in product %}'+
                          '<option value="{{ p.id }}">{{ p.name }}</option>'+
                        '{% endfor %}'+
                      '</select>'+
                      '<p style="color:black;" class="mt-2 fs-6 mb-0 ps-2">HSN Code: </p>'+
                      '<p id="product-hsn_code" class="ps-2 fw-normal" style="color:black;">'+
                        '- - -'+
                      '</p>'+
                    '</td>' +
                    '<td id="product-gst">- -</td>' +
                    '<td id="mu">'+
                      '<div id="qty" class="input-group input-group-sm mb-3" style="max-width:150px;">'+
                        '<input value="0" min="0" name="qty_' + tb_length + '" type="number" class="form-control" aria-describedby="qty-rel" aria-label="enter the quantity" required>'+
                        '<span class="input-group-text" id="qty-rel"></span>'+
                      '</div>'+
                    '</td>'+
                    '<td id="mu">'+
                      '<div id="cost-price" class="input-group input-group-sm mb-3" style="max-width:150px;">'+
                        '<input min="0" step="0.01" name="cost_price_' + tb_length + '" placeholder="₹" type="number" class="form-control" aria-describedby="bill-qty-rel" aria-label="enter cost price" required>'+
                        '<span class="input-group-text" id="cost-price-rel"></span>'+
                      '</div>'+
                    '</td>'+
                    '<td>'+
                      '<button type="button" id="create-purchase-del-product" class="btn btn-danger">'+
                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">'+
                          '<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>'+
                        '</svg>'+
                      '</button>'+
                    '</td>'+
                  '</tr>';
        $("#create-purchase-table").append(row);		
        $('select').select2();
      });
      $('table').on('click', 'button#create-purchase-del-product', function(){
        $(this).closest('tr').remove();
      });
    });
  </script>
{% endblock %}